.mainBox {
  padding: 30px;
}

.titlePage {
  text-align: center;
  font-weight: 600;
  font-size: 32px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 20px;
}

.rowBox {
  display: flex;
  flex-direction: row;
}

.btnCommon {
  border-radius: 9999px;
  color: #111;
  font-weight: 600;
  color: #FFF;
}

.addUser {
  padding: 10px 40px;
  background: #49ABED;
}

.editUser {
  padding: 10px;
  background: #49ABED;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deleteUser, .deleteModalBtn {
  padding: 10px;
  background: #c92424;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.optionCell {
  display: flex;
  justify-content: flex-end;
  white-space: nowrap;
}

.tableHeader {
  font-weight: 600;
  font-size: 20px;
  padding: 10px;
  color: #AAB7C7;
  text-align: center;
}

.rowOdd {
  background-color: rgb(230, 231, 233);
}

.cellBox {
  padding: 10px;
}

.quantityText {
  font-weight: 600;
  margin-top: 20px;
  font-size: 18px;
}

.titleModalDelete {
  text-align: center;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.dscModalDelete {
  font-size: 14px;
  color: #777;
  text-align: center;
  margin-bottom: 10px;
}

.btnModal {
  margin-top: 15px;
  border-radius: 12px;
  color: #FFF;
  box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%), 0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);
  transition: 0.5s;
  padding: 8px 20px;
  min-width: 150px;
}

.backBtn {
  background: #3579a7;
}
